@font-face {
  font-family: "Shippori Mincho";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../assets/fonts/shippori-mincho-ja-400.woff2") format("woff2");
}

@font-face {
  font-family: "Shippori Mincho";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("../assets/fonts/shippori-mincho-ja-500.woff2") format("woff2");
}

@font-face {
  font-family: "Shippori Mincho";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("../assets/fonts/shippori-mincho-ja-600.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../assets/fonts/noto-sans-jp-ja-400.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("../assets/fonts/noto-sans-jp-ja-500.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("../assets/fonts/noto-sans-jp-ja-600.woff2") format("woff2");
}
