---
// src/components/resume/Profile.astro
---

<section class="resume-section scroll-reveal-animate">
  <h2>Profile</h2>
  <p>
    A Japanese major student from Nantong University, <br />
      featuring <em>creativity</em>, <em>global vision</em> and <em>foresight</em>.
  </p>
  <p>
    I cultivate a diverse range of interests, 
    including the art of photography, piano, and aeromodelling. 
    Furthermore, I am a dedicated railway enthusiast.
  </p>
  <p>
    I aspire to become an individual with an interdisciplinary knowledge base, aiming to integrate into our global community through the synergy of linguistic proficiency and professional expertise. It is through a global perspective that I seek to achieve a more accomplished version of myself.
  </p>
</section>

<style>
  .resume-section {
    margin-bottom: 4rem;
  }
  h2 {
    font-size: clamp(1.8rem, 1.5rem + 1.5vw, 2.8rem);
    margin-bottom: 2rem;
    font-weight: 600;
    border-bottom: 1px solid var(--text-muted);
    padding-bottom: 0.5rem;
  }
  p {
    line-height: 1.6;
    font-size: 1.1rem;
  }
</style>
